@using eideas.Areas.Identity.Data
@model IdeaComment

<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
        <form action="@Url.Action("CreateComment")" method="post" class="form-horizontal">
            
            <textarea type="text" class="form-control" name="Comment" placeholder="Leave useful feedback or additional information"></textarea>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>