@using eideas.Areas.Identity.Data
@using eideas.Models

<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
            <form action="@Url.Action("DeleteIdea")" method="post" class="form-horizontal">
                    <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>

