@using Microsoft.AspNetCore.Identity
@using eideas.Areas.Identity.Data
@inject UserManager<EIdeasUser> UserManager
@model ICollection<Idea>
@{
    Layout = "_Layout";
}

<body>
	<video autoplay muted loop id="myVideo">
  <source src="~/images/Pressure/Hill.mp4" type="video/mp4">
</video>
</body>
  
  <div class="panel panel-default" id="welcome-panel">
    <h2> Welcome to eIdeas</h2>
    <div class="panel-body">"The eIDEAS project was requested by eHealth with the goal to improve the quality of healthcare across the province of Saskatchewan. This follows the organization's ongoing efforts to foster an internal culture of innovation. Using Plan, Do, Evaluate, Adapt (PDEA) cycles the goal is to improve quality, cost, delivery, safety, and engagement (QCDSE).

    These goals are accomplished by providing an application for employees to submit ideas for improving existing organizational processes. This increases visibility of individual and collaborative work.

    This project has been signed/approved by eHealth Saskatchewan and the University of Regina."
  </div>
  
  <div class="panel-body">
    <p>For our full user manual, please click <a href="https://bit.ly/2E0Br1E">here</a> </p> 
    </div>
    
  
  
  
  
  
  </div>

