/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 30px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

 body, html{
    height: 100%;
    /*background-image: url("../images/reg-background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    */
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 0px;
    z-index: 100;
}

h1.title { 
   font-size: 50px;
   font-family: 'Passion One', cursive; 
   font-weight: 400; 
}

hr{
   width: 10%;
   color: #fff;
}

.form-group{
   margin-bottom: 10px;
}

label{
   margin-bottom: 10px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 2px;
}

.main-login{
    background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   float:right;


}
.main-register{
    background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   float:right;


}

.main-center-register{
    margin-top: 0px;
    max-width: 330px;
    padding: 40px 40px;
    padding-bottom: 43px;
}

.main-center-login{
    margin-top: 0px;
    max-width: 330px;
    padding: 40px 40px;
    padding-bottom: 235px;
}

.login-button{
   margin-top: 75px;
   border:1px solid #289ac0; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:18px;font-family: 'Source Sans Pro', sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
   background-color: #47B4D9; background-image: -webkit-gradient(linear, left top, left bottom, from(#47B4D9), to(#73e6c9));
   background-image: -webkit-linear-gradient(top, #47B4D9, #73e6c9);
   background-image: -moz-linear-gradient(top, #47B4D9, #73e6c9);
   background-image: -ms-linear-gradient(top, #47B4D9, #73e6c9);
   background-image: -o-linear-gradient(top, #47B4D9, #73e6c9);
   background-image: linear-gradient(to bottom, #47B4D9, #73e6c9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#47B4D9, endColorstr=#73e6c9);
}


    
 .login-button:hover{
    border:1px solid #207b9a;
    background-color: #299dc4; background-image: -webkit-gradient(linear, left top, left bottom, from(#299dc4), to(#48deb8));
    background-image: -webkit-linear-gradient(top, #299dc4, #48deb8);
    background-image: -moz-linear-gradient(top, #299dc4, #48deb8);
    background-image: -ms-linear-gradient(top, #299dc4, #48deb8);
    background-image: -o-linear-gradient(top, #299dc4, #48deb8);
    background-image: linear-gradient(to bottom, #299dc4, #48deb8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#299dc4, endColorstr=#48deb8);
}

.login-register{
   font-size: 11px;
   text-align: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -100;
    size: 75%;
}

.login-container{
    margin-right: -56px;
}

.register-container{
    margin-right: -56px;
}

.login-page-header{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 9px;
    margin: auto;
    border-bottom: 1px solid #eee;
    font-size: 100px;
    padding-top: 200px;
    text-align: left;
    margin-left: 225px;
}

.welcome{
    color:#fff;
    margin-bottom: -40px;
    font-weight: bolder;
}

.to-ideas{
    color:#fff;
    font-weight: lighter;

}

.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}