@{
    ViewData["Title"] = "Home Page";
}

<body>
	<video autoplay muted loop id="myVideo">
  <source src="~/images/Pressure/Hill.mp4" type="video/mp4">
</video>
<div class="login-container">
    <div class=login-page-header>
        <p class="welcome">Welcome</p> 
        <p class ="to-ideas">to eIdeas </p>
        <span class="blinking-cursor">|</span>    
    </div>
</div>
</body>
