USE [master]
GO
/****** Object:  Database [BT]    Script Date: 2018-10-04 5:13:51 PM ******/
CREATE DATABASE [BT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BT]
GO
USE [BT]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018-10-04 5:13:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[UserName] [varchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [varbinary](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
